<!DOCTYPE html>
<html>
   

<head>
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <title>HR Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
    body {
        
    }
    </style>
</head>

<body>
    <h1>HR - Bot</h1>
    <input id="recordNumber" type="text" placeholder="Enter phone number of employee" />
    <button onclick="getRecord()">Get record</button>
    <div class="button-container">
        <button id="deleteButton" onclick="deleteRecord()">Delete record</button>
        <button id="updateButton" onclick="updateRecord()">Update record</button>
    </div>

    <div id="record"></div>
 
    <button onclick="getAllRecords()">Get all employee information/records</button>

    
    <div id="all_records"></div>


    <script>

        function getRecord() {
            var recordNumber = document.getElementById('recordNumber').value;

            $.ajax({
                url: '/get-response',
                data: JSON.stringify({ 'recordNumber': recordNumber }),
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {

                    document.getElementById('record').innerHTML = ""

                    let obj = JSON.parse(response)
                    let keys = []
                    let values = []

                    for (let key in obj) {
                        if (obj.hasOwnProperty(key)) {
                            keys.push(key)
                            values.push(obj[key])
                        }
                    };


                    for (let i = 0; i < keys.length; i++) {
                        let list = document.createElement('li');
                        list.innerText = keys[i] + "=" + values[i];
                        document.querySelector('#record').appendChild(list);
                    }

                    console.log(JSON.parse(response))
                    console.log(keys)
                    console.log(values)
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }



        function getAllRecords() {
            // var recordNumber = document.getElementById('recordNumber').value;

            $.ajax({
                url: '/get-all-records',
                data: JSON.stringify({ 'recordNumber': recordNumber }),
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {

                    document.getElementById('all_records').innerHTML = ""

                    let lst = JSON.parse(response)
                    let keys = []
                    let values = []

                    for (let key in lst[0]) {
                        if (lst[0].hasOwnProperty(key)) {
                            keys.push(key)
                        }
                    };

                  
                    for (const obj of lst){
                        let br = document.createElement('br');
                        for (const key of keys){
                            console.log(obj[key])
                            let list = document.createElement('li');
                            list.innerText = key + "= " + obj[key];
                            document.querySelector('#all_records').appendChild(list);
                        }
                        document.querySelector('#all_records').appendChild(br);
                    }

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
       
   
            function deleteRecord() {
              
            }
            
            function updateRecord() {
                
            }
        
       


    </script>
</body>

</html>