<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" type="text/css" href="static\style.css">
    <title>HR Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div style="text-align: center;">
    <h1 style="color:#C06C84;font-size:400%;text-shadow: 0px 3px 5px #000000;  font-family: 'Montserrat', sans-serif;">HR Bot</h1>
    <hr>
    </div>
    <input id="recordNumber" type="text" placeholder="Enter phone number of employee" />
    
    <div id="first">
    <button onclick="getRecord()">Get record</button>
    <button onclick="updateRecord()">Update record</button>
    </div>

    <div class="button-container">
        <button id="deleteButton" onclick="deleteRecord()">Delete record</button>
    </div>

    <div id="record"></div>

    <button onclick="getAllRecords()">Get all employee information/records</button>

    <div id="all_records"></div>

    <button id="hide-button" onclick="hide()" style="display: none;">Hide Records</button>


    <script>

        function getRecord() {
            var recordNumber = document.getElementById('recordNumber').value;

            $.ajax({
                url: '/get-response',
                data: JSON.stringify({ 'recordNumber': recordNumber }),
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {

                    document.getElementById('record').innerHTML = ""

                    let obj = JSON.parse(response)
                    let keys = []
                    let values = []

                    for (let key in obj) {
                        if (obj.hasOwnProperty(key)) {
                            keys.push(key)
                            values.push(obj[key])
                        }
                    };


                    for (let i = 0; i < keys.length; i++) {
                        let list = document.createElement('li');
                        list.innerText = keys[i] + "=" + values[i];
                        document.querySelector('#record').appendChild(list);
                    }

                    console.log(JSON.parse(response))
                    console.log(keys)
                    console.log(values)
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }



        function getAllRecords() {
            // var recordNumber = document.getElementById('recordNumber').value;

            $.ajax({
                url: '/get-all-records',
                data: JSON.stringify({ 'recordNumber': recordNumber }),
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {

                    document.getElementById('all_records').innerHTML = ""

                    let lst = JSON.parse(response)
                    let keys = []
                    let values = []

                    for (let key in lst[0]) {
                        if (lst[0].hasOwnProperty(key)) {
                            keys.push(key)
                        }
                    };

                  
                    for (const obj of lst){
                        let br = document.createElement('br');
                        for (const key of keys){
                            console.log(obj[key])
                            let list = document.createElement('li');
                            list.innerText = key + "= " + obj[key];
                            document.querySelector('#all_records').appendChild(list);
                        }
                        document.querySelector('#all_records').appendChild(br);
                    }

                    document.getElementById('all_records').style.display = 'block';
                    document.getElementById('hide-button').style.display = 'block';

                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
       
   
        function deleteRecord() {
            
        }
        
        function updateRecord() {
            
        }
        
        function hide(){
            document.getElementById('all_records').style.display = 'none';
            document.getElementById('hide-button').style.display = 'none';
        }
       


    </script>
</body>

</html>